# Descargas de diferentes fuentes de la web

In [1]:
# Importamos librerias
import requests
import zipfile
import pandas as pd
import numpy as np
import json

## Primera petición

In [2]:

url = "https://m.media-amazon.com/images/M/MV5BZGUzYTI3M2EtZmM0Yy00NGUyLWI4ODEtN2Q3ZGJlYzhhZjU3XkEyXkFqcGdeQXVyNTM0OTY1OQ@@._V1_.jpg"
image = requests.get(url)

In [3]:
image

In [5]:
with open("thelast.jgp", "wb") as f:
    f.write(image.content)

## Bajar datos de inflación mediante url

In [7]:
df_inflaction = pd.read_csv("https://datahub.io/core/inflation/r/inflation-gdp.csv")
df_inflaction.head()

      Country Country Code  Year  Inflation
0  Arab World          ARB  1969   1.303790
1  Arab World          ARB  1970   2.602241
2  Arab World          ARB  1971   6.884719
3  Arab World          ARB  1972   2.496081
4  Arab World          ARB  1973  11.555281

In [11]:
df_inflaction["Country"] == "Spain"

0        False
1        False
2        False
3        False
4        False
         ...
11009    False
11010    False
11011    False
11012    False
11013    False
Name: Country, Length: 11014, dtype: bool

In [8]:
df_inflaction[df_inflaction["Country"] == "Spain"]

     Country Country Code  Year  Inflation
9432   Spain          ESP  1961   2.466390
9433   Spain          ESP  1962   6.095842
9434   Spain          ESP  1963   7.845375
9435   Spain          ESP  1964   6.254320
9436   Spain          ESP  1965   9.164867
9437   Spain          ESP  1966   8.173743
9438   Spain          ESP  1967   8.537719
9439   Spain          ESP  1968   5.911130
9440   Spain          ESP  1969   5.133251
9441   Spain          ESP  1970   8.768999
9442   Spain          ESP  1971   7.846021
9443   Spain          ESP  1972   8.517925
9444   Spain          ESP  1973  11.849595
9445   Spain          ESP  1974  15.945109
9446   Spain          ESP  1975  16.781782
9447   Spain          ESP  1976  16.489922
9448   Spain          ESP  1977  23.383070
9449   Spain          ESP  1978  20.631042
9450   Spain          ESP  1979  16.931632
9451   Spain          ESP  1980  13.354827
9452   Spain          ESP  1981  12.351192
9453   Spain          ESP  1982  13.582323
9454   Spain          ESP  1983  11.884246
9455   Spain          ESP  1984  10.864734
9456   Spain          ESP  1985   8.595479
9457   Spain          ESP  1986  10.878816
9458   Spain          ESP  1987   5.944198
9459   Spain          ESP  1988   5.936126
9460   Spain          ESP  1989   6.896194
9461   Spain          ESP  1990   7.326251
9462   Spain          ESP  1991   6.935139
9463   Spain          ESP  1992   6.710771
9464   Spain          ESP  1993   4.537241
9465   Spain          ESP  1994   3.879842
9466   Spain          ESP  1995   4.933130
9467   Spain          ESP  1996   3.470721
9468   Spain          ESP  1997   2.381828
9469   Spain          ESP  1998   2.532760
9470   Spain          ESP  1999   2.664838
9471   Spain          ESP  2000   3.276074
9472   Spain          ESP  2001   4.079866
9473   Spain          ESP  2002   4.114985
9474   Spain          ESP  2003   3.918909
9475   Spain          ESP  2004   3.921276
9476   Spain          ESP  2005   4.149491
9477   Spain          ESP  2006   3.978200
9478   Spain          ESP  2007   3.331140
9479   Spain          ESP  2008   2.135441
9480   Spain          ESP  2009   0.252534
9481   Spain          ESP  2010   0.160419
9482   Spain          ESP  2011   0.028968
9483   Spain          ESP  2012   0.067950
9484   Spain          ESP  2013   0.353610
9485   Spain          ESP  2014  -0.194984
9486   Spain          ESP  2015   0.610876
9487   Spain          ESP  2016   0.283304

In [12]:
df_inflaction.to_csv("data/inflaction.csv") # Crear carpeta "data" en la ubicación del notebook

## Bajar datos de Bicimad

In [13]:
url = "https://opendata.emtmadrid.es/getattachment/c3383795-121b-4ebf-98b4-c7b05e902eaf/202106_movements.aspx"
r = requests.get(url)

In [14]:
r

In [18]:
# Guardamos el zip
filename = "data/bicis.zip"
with open(filename, "wb") as f:
    f.write(r.content)

In [19]:
# Extraemos lo que hay dentro
with zipfile.ZipFile(filename, "r") as zip_ref:
    zip_ref.extractall("data/")

In [21]:
# Leemos los datos
datos_bicis = pd.read_json("data/202106_movements.json", lines=True, encoding="latin-1", nrows=10000)

In [22]:
# Vemos qué pinta tienen
datos_bicis.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code
0,{'$oid': '60bbf3f21b91311d90d568ad'},b67ea824acf706087d5818ebc6f90821a5abaab17a0868...,15,1,13,319,38,0,54,2021-06-01T00:00:00Z,
1,{'$oid': '60bbf3f21b91311d90d568b2'},364b1b99f1f9a1748f7abf1134c8d6a46197b583649308...,7,1,1,386,185,0,126,2021-06-01T00:00:00Z,
2,{'$oid': '60bbf3f21b91311d90d568b3'},5cc17031cba02835dda4b6c153b56572beaade54d8ab91...,14,1,10,465,15,0,91,2021-06-01T00:00:00Z,
3,{'$oid': '60bbf3f21b91311d90d568b4'},6e855acaaa17d6d14236598c0f1172c783e16950e39c01...,8,1,22,613,84,0,236,2021-06-01T00:00:00Z,
4,{'$oid': '60bbf3f21b91311d90d568b5'},e93417502d55208995a61f4177956ab9289aba39044ce3...,1,1,4,751,131,5,94,2021-06-01T00:00:00Z,28006

In [23]:
datos_bicis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               10000 non-null  object
 1   user_day_code     10000 non-null  object
 2   idplug_base       10000 non-null  int64
 3   user_type         10000 non-null  int64
 4   idunplug_base     10000 non-null  int64
 5   travel_time       10000 non-null  int64
 6   idunplug_station  10000 non-null  int64
 7   ageRange          10000 non-null  int64
 8   idplug_station    10000 non-null  int64
 9   unplug_hourTime   10000 non-null  object
 10  zip_code          10000 non-null  object
dtypes: int64(7), object(4)
memory usage: 859.5+ KB

In [25]:
datos_bicis["zip_code"].unique()

array(['', '28006', '28004', '28045', '28028', '28009', '28007', '28005',
       '28010', '28034', '28012', '28001', '28008', '28015', '28002',
       '28105', 'CODIGO_POSTAL_NOT_DEF', '28013', '39724', '28100',
       '28800', '28027', '28020', '28011', '28014', '28850', '15002',
       '28003', '45007', '28046', '28039', '28043', '28038', '28934',
       '28016', '28945', '28221', '28033', '28030', '28029', '28048',
       '28054', '28035', '35572', '28049', '28004 ', '28019', '28040',
       '28941', '28523', '28380', '28933', '28026', '45600', '28938',
       '28220', '28935', '28760', '28863', '28018', '28250', '28053',
       '28017', '28024', '28823', '28021', '28922', '28210', '28022',
       '28036', '28047', '28430', '28041', '46009', '28770', '28031',
       '28200', '46026', '20540', '28232', '28042', '28071', '18006',
       '28400', '62973', '2', '28521', '28822', '28411', '28229', '48520',
       '29039', '28260', '28055', '28942', '28815', '28037', '28702',
       '28707', '28701', '28290', '28691', '28460', '28936', '28915',
       '28025', '28750', '28905', '28223', '75014', '28891', '28903',
       '23009', '28023', '28660', '28006 ', '28924', '28911', '28032',
       '28801', '10318', '28803', '29740', '28051', '28342', '28912',
       '28064', '28299', '33206', '28791', '28028 ', '09006', '28917',
       '19160', '28923', '28350', '29045', '23012', '28670', '28044',
       '28909', '28450', '28906', '28231'], dtype=object)

# Acceso a archivos de la pagina de datos.gob.es
Uno de los mayores catálogos de información pública descargable en España

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio datos.gob.es</h3>

Descarga con pandas un dataset de la página https://datos.gob.es/es/catalogo acerca del empleo y guárdalo en un csv en la carpeta data.
         
 </td></tr>
</table>

In [32]:
url = "https://dadesobertes.gva.es/dataset/f706e6d9-fd44-4d45-988f-9b79010bc219/resource/9ae4e50e-09b0-401d-91e9-640905275749/download/datos-erte-solicitados-por-covid-19-2020-11-30.csv"
datos_empleo = pd.read_csv(url,sep=";")
datos_empleo.head()

,AUTORIDAD_LABORAL,SECTOR,NUM_EXPEDIENTES,NUM_TRABAJADORES_AFECTADOS,HOMBRES,MUJERES,PERS_GENERO_SIN_DETERMINAR
0,D.G.,AGRICULTURA,3,64,50,14,0
1,D.G.,CONSTRUCIÓN,32,1431,1189,242,0
2,D.G.,INDUSTRIA,223,56791,42703,10146,3942
3,D.G.,SERVICIOS,664,38105,18003,18170,1932
4,DT VALENCIA,AGRICULTURA,68,264,200,64,0

In [33]:
url = "https://datos.madrid.es/egob/catalogo/212086-0-oficinas-empleo.csv"
datos_empleo = pd.read_csv(url, sep=";", encoding='latin-1')
datos_empleo.head()

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO,Unnamed: 32
0,5949409,Agencia de Zona de Arganzuela,Agencia de Colocación Autorizada 1300000002,De lunes a viernes de 8:30 a 14 horas.,Para las personas desempleadas: Orientación ...,Metro: Puerta de Atocha y Palos de la Frontera...,NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ANCORA,...,ARGANZUELA,441480,4472710,40.402954,-3.689636,913 643 460,NaN,azarganzuelaae@madrid.es,/contenido/entidadesYorganismos/OficinasEmpleo,
1,5666151,Agencia de Zona de Barajas,Agencia de Colocación Autorizada 1300000002,De lunes a viernes de 8:30 a 14 horas.,Para las personas desempleadas: Orientación ...,"Metro: Alameda de Osuna Bus: 114, 115, 151",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,CANTABRIA,...,BARAJAS,450175,4478385,40.454636,-3.587632,917 412 190,NaN,azbarajasae@madrid.es,/contenido/entidadesYorganismos/OficinasEmpleo,
2,5520471,Agencia de Zona de Latina-Carabanchel,Agencia de Colocación Autorizada 1300000002,De lunes a viernes de 8:30 a 14 horas.,Para las personas desempleadas: Orientación ...,"METRO/RENFE: Laguna BUS: 25,31,55 y 119",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ALHAMBRA,...,LATINA,436899,4472004,40.396255,-3.743547,915 088 758,NaN,azlatinacarabanchel@madrid.es,/contenido/entidadesYorganismos/OficinasEmpleo,
3,4514901,Agencia de Zona de Retiro,Agencia de Colocación Autorizada 1300000002,De lunes a viernes de 8:30 a 14 horas.,Para las personas desempleadas: Orientación ...,"Metro: Pacífico Bus: 8, 10, 24, 37, 54, 56, 57...",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,CIUDAD DE BARCELONA,...,RETIRO,442528,4472638,40.402361,-3.677293,915 133 085,NaN,azretiroae@madrid.es,/contenido/entidadesYorganismos/OficinasEmpleo,
4,172696,Agencia de Zona de Tetuán,Agencia de Colocación Autorizada 1300000002,De lunes a viernes de 8:30 a 14 horas.,Para las personas desempleadas: Orientación ...,"Metro: Alvarado Bus: 124, 128, 3, 64, 66",NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,JUAN PANTOJA,...,TETUAN,440316,4477949,40.450050,-3.703857,915 336 559,NaN,aztetuanae@madrid.es,/contenido/entidadesYorganismos/OficinasEmpleo,

In [34]:
url = "https://dadesobertes.gva.es/dataset/e9b02404-1755-4965-8f5b-917b43dc0368/resource/8a61dfcf-fb24-46e7-9b62-30ad193ec77c/download/contratos_por_municipio-sector-grupo_ocupacion-genero-edad-2018.csv"
datos_empleo = pd.read_csv(url, sep=";")

In [35]:
url2 = "http://datosabiertos.torrent.es/dataset/613c4eb0-18c0-4dc0-a281-febab57e0ed9/resource/f325e925-d9ab-4e58-910d-0d59173ca871/download/ODSBLlistatAssociacions2022.csv"
testdf = pd.read_csv(url2, encoding = "latin1", sep=";")
testdf.head()

,NRMA,Nom Associació,Adreça 1,CP 1,Municipi 1,Adreça 2,CP 2,Municipi 2,Telèfon 1,Telèfon 2,...,Correu electrònic 2,CE 2 Referència,Correu electrònic 3,Pàgina Web 1,Pàgina Web 2,Xarxes Socials 1,Xarxes Socials 2,President/a,Vicepresident/a,BAIXA
0,1.0,AMPA. COL·LEGI PÚBLIC LOPE DE VEGA,"c/ Francisco Roselló, 27",46900.0,TORRENT,NaN,NaN,NaN,961550206.0,NaN,...,dorimp77@hotmail.com,President,NaN,NaN,NaN,NaN,NaN,Adoración Morejudo Pérez,NaN,NaN
1,2.0,ASOCIACION DE VECINOS PINTOR BENEDITO,c/ Pintor Benedito (patio interior),46900.0,TORRENT,NaN,NaN,NaN,NaN,NaN,...,pekeks@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,Miguel Angel Cebrian Martinez,NaN,NaN
2,3.0,ASOCIACION CULTURAL JUVENIL TIERNO GALVAN,c/ Federico Maicas 26-B,46900.0,TORRENT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,AMPA DEL COLEGIO PUBLICO SAN PASCUAL,c/ Padre Méndez 149,46900.0,TORRENT,NaN,NaN,NaN,961205440.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,María Teresa Cotrina Rodríguez,Pablo Pastor Bárcenas,NaN
4,5.0,UNION DEMOCRATICA DE JUBILADOS Y PENSIONISTAS ...,c/ Virgen del Olivar 40,46900.0,TORRENT,NaN,NaN,NaN,961557818.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
datos_empleo.to_csv("data/datos_empleo.csv")

# OpenStreetMap

In [39]:
# Amenities
# https://wiki.openstreetmap.org/wiki/Key:amenity
overpass_url = "http://overpass-api.de/api/interpreter"

overpass_query = """
[out:json];
node["amenity"="cafe"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""

response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()

<Response [200]>

In [38]:
data

{'version': 0.6,
 'generator': 'Overpass API 0.7.59.2 0994154d',
 'osm3s': {'timestamp_osm_base': '2023-02-20T12:34:09Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': [{'type': 'node',
   'id': 2977298934,
   'lat': 40.4210523,
   'lon': -3.689841,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:street': 'Calle de Villalar',
    'amenity': 'cafe',
    'cuisine': 'regional',
    'internet_access': 'yes',
    'name': 'Café Villalar',
    'payment:bitcoin': 'yes',
    'website': 'http://www.cafevillalar.com/'}},
  {'type': 'node',
   'id': 3426617375,
   'lat': 40.4221948,
   'lon': -3.6923421,
   'tags': {'amenity': 'cafe',
    'name': 'Gran Café Gijón',
    'phone': '+34 915 215 425',
    'website': 'https://cafegijon.com/',
    'wikidata': 'Q1025608',
    'wikipedia': 'es:Café Gijón'}},
  {'type': 'node',
   'id': 4703448419,
   'lat': 40.4229908,
   'lon': -3.6936524,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '6',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Marqués de Monasterio',
    'amenity': 'cafe',
    'contact:facebook': 'https://www.facebook.com/hermanasae',
    'contact:instagram': 'https://www.instagram.com/hermanasarce/',
    'cuisine': 'cake',
    'disused:amenity': 'restaurant',
    'name': 'Hermanas Arce',
    'old_name': 'Noteolvides',
    'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}},
  {'type': 'node',
   'id': 4778747544,
   'lat': 40.4223247,
   'lon': -3.6909735,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '1',
    'addr:postcode': '28001',
    'addr:street': 'Calle de Recoletos',
    'amenity': 'cafe',
    'brand': 'Santagloria',
    'brand:wikidata': 'Q54606497',
    'contact:phone': '+34 914319000',
    'contact:website': 'https://www.santagloria.com',
    'name': 'Santagloria',
    'shop': 'bakery'}},
  {'type': 'node',
   'id': 9207850217,
   'lat': 40.4218751,
   'lon': -3.6901227,
   'tags': {'amenity': 'cafe', 'name': 'masticar'}}]}

In [40]:
data.keys()

dict_keys(['version', 'generator', 'osm3s', 'elements'])

In [41]:
data["osm3s"]

{'timestamp_osm_base': '2023-02-20T12:44:24Z',
 'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'}

In [42]:
data.get("osm3s")

{'timestamp_osm_base': '2023-02-20T12:44:24Z',
 'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'}

In [45]:
data["osm3s"]["copyright"]

'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'

In [49]:
data["elements"][0]["tags"]["name"]

'Café Villalar'

In [50]:
pd.DataFrame(data["elements"])

,type,id,lat,lon,tags
0,node,2977298934,40.421052,-3.689841,"{'addr:city': 'Madrid', 'addr:housenumber': '4..."
1,node,3426617375,40.422195,-3.692342,"{'amenity': 'cafe', 'name': 'Gran Café Gijón',..."
2,node,4703448419,40.422991,-3.693652,"{'addr:city': 'Madrid', 'addr:housenumber': '6..."
3,node,4778747544,40.422325,-3.690974,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
4,node,9207850217,40.421875,-3.690123,"{'amenity': 'cafe', 'name': 'masticar'}"

In [51]:
def json_to_dataframe(data_entrada):
    elements = data_entrada['elements']
    places = {'lat': [], 'lon': [], 'name': [], 'address': []}

    for i in elements:
        lalitude = i['lat']
        longitude = i['lon']
        name = i['tags'].get('name')
        street = i['tags'].get('addr:street', 'Sin calle')
        number = i['tags'].get('addr:housenumber', 0)
        
        places['lat'].append(lalitude)
        places['lon'].append(longitude)
        places['name'].append(name)
        places['address'].append(str(street) + ' ' + str(number))

    df = pd.DataFrame(places)
    return df

In [52]:
df_return = json_to_dataframe(data)
df_return

         lat       lon             name                            address
0  40.421052 -3.689841    Café Villalar                Calle de Villalar 4
1  40.422195 -3.692342  Gran Café Gijón                        Sin calle 0
2  40.422991 -3.693652    Hermanas Arce  Calle del Marqués de Monasterio 6
3  40.422325 -3.690974      Santagloria               Calle de Recoletos 1
4  40.421875 -3.690123         masticar                        Sin calle 0

,type,id,lat,lon,tags
0,node,2977298934,40.421052,-3.689841,"{'addr:city': 'Madrid', 'addr:housenumber': '4..."
1,node,3426617375,40.422195,-3.692342,"{'amenity': 'cafe', 'name': 'Gran Café Gijón',..."
2,node,4703448419,40.422991,-3.693652,"{'addr:city': 'Madrid', 'addr:housenumber': '6..."
3,node,4778747544,40.422325,-3.690974,"{'addr:city': 'Madrid', 'addr:housenumber': '1..."
4,node,9207850217,40.421875,-3.690123,"{'amenity': 'cafe', 'name': 'masticar'}"

{'amenity': 'cafe',
 'name': 'Gran Café Gijón',
 'phone': '+34 915 215 425',
 'website': 'https://cafegijon.com/',
 'wikidata': 'Q1025608',
 'wikipedia': 'es:Café Gijón'}

         lat       lon             name                            address
0  40.421052 -3.689841    Café Villalar                Calle de Villalar 4
1  40.422195 -3.692342  Gran Café Gijón                        Sin calle 0
2  40.422991 -3.693652    Hermanas Arce  Calle del Marqués de Monasterio 6
3  40.422325 -3.690974      Santagloria               Calle de Recoletos 1
4  40.421875 -3.690123         masticar                        Sin calle 0

In [ ]:
# lista_responses = [data1, data2, data3, data4]
# for data in lista_responses:
#     df_return = json_to_dataframe(data)
#     df_results = df_results.concat(df_return)

## Datos del espacio

In [100]:
'''
https://thespacedevs.com/llapi
https://ll.thespacedevs.com/2.2.0/swagger
'''

200

{'count': 723,
 'next': 'https://ll.thespacedevs.com/2.2.0/astronaut/?limit=10&offset=10',
 'previous': None,
 'results': [{'id': 1,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/1/',
   'name': 'Thomas Pesquet',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1978-02-27',
   'date_of_death': None,
   'nationality': 'French',
   'bio': 'Thomas Gautier Pesquet is a French aerospace engineer, pilot, and European Space Agency astronaut. Pesquet was selected by ESA as a candidate in May 2009, and he successfully completed his basic training in November 2010. From November 2016 to June 2017, Pesquet was part of Expeditions 50 and 51 on the International Space Station as a flight engineer.',
   'twitter': 'https://twitter.com/Thom_astro',
   'instagram': 'https://instagram.com/thom_astro',
   'wiki': 'https://en.wikipedia.org/wiki/Thomas_Pesquet',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas2520pesquet_image_20200102120546.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas_pesquet_thumbnail_20220911033657.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '2021-04-23T09:49:02Z',
   'first_flight': '2016-11-17T20:20:13Z'},
  {'id': 2,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/2/',
   'name': 'Claude Nicollier',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 78,
   'date_of_birth': '1944-09-02',
   'date_of_death': None,
   'nationality': 'Swiss',
   'bio': 'Claude Nicollier is the first astronaut from Switzerland. He has flown on four Space Shuttle missions. His first spaceflight (STS-46) was in 1992, and his final spaceflight (STS-103) was in 1999. He took part in two servicing missions to the Hubble Space Telescope (called STS-61 and STS-103). During his final spaceflight he participated in a spacewalk, becoming the first European Space Agency astronaut to do so during a Space Shuttle mission. In 2000 he was assigned to the Astronaut Office Extravehicular Activity Branch, while maintaining a position as Lead ESA Astronaut in Houston. Nicollier retired from ESA in April 2007.',
   'twitter': 'https://twitter.com/Astroclaude',
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Claude_Nicollier',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/claude2520nicollier_image_20181127203218.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/claude_nicollie_thumbnail_20220911033747.jpeg',
   'flights_count': 4,
   'landings_count': 4,
   'last_flight': '1999-12-20T00:50:00Z',
   'first_flight': '1992-07-31T13:56:48Z'},
  {'id': 3,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/3/',
   'name': 'Tim Peake',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 50,
   'date_of_birth': '1972-04-07',
   'date_of_death': None,
   'nationality': 'British',
   'bio': "Major Timothy Nigel Peake CMG is a British Army Air Corps officer, former European Space Agency astronaut and International Space Station (ISS) crew member.  He is the first British ESA astronaut, the second astronaut to bear a flag of the United Kingdom patch, the sixth person born in the United Kingdom to go on board the International Space Station and the seventh UK-born person in space. He began the ESA's intensive astronaut basic training course in September 2009 and graduated on 22 November 2010",
   'twitter': 'https://twitter.com/astro_timpeake',
   'instagram': 'https://www.instagram.com/astro_timpeake/',
   'wiki': 'https://en.wikipedia.org/wiki/Tim_Peake',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/tim_peake_image_20230120154350.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/tim_peake_thumbnail_20230120154351.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2015-12-15T11:03:09Z',
   'first_flight': '2015-12-15T11:03:09Z'},
  {'id': 4,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/4/',
   'name': 'Buzz Aldrin',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 93,
   'date_of_birth': '1930-01-20',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Buzz Aldrin; born Edwin Eugene Aldrin Jr.; is an American engineer, former astronaut, and fighter pilot.\r\nAs Lunar Module Pilot on the Apollo 11 mission, he and mission commander Neil Armstrong were the first two humans to land on the Moon.',
   'twitter': 'https://twitter.com/TheRealBuzz',
   'instagram': 'https://www.instagram.com/drbuzzaldrin/',
   'wiki': 'https://en.wikipedia.org/wiki/Buzz_Aldrin',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/buzz_aldrin_image_20220911034547.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/buzz_aldrin_thumbnail_20220911034547.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '1969-07-16T13:32:00Z',
   'first_flight': '1966-11-11T20:46:33Z'},
  {'id': 5,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/5/',
   'name': 'Chris Hadfield',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 63,
   'date_of_birth': '1959-08-29',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'Chris Austin Hadfield is a Canadian retired astronaut, engineer, and former Royal Canadian Air Force fighter pilot.\r\nThe first Canadian to walk in space, Hadfield has flown two space shuttle missions and served as commander of the International Space Station.',
   'twitter': 'https://twitter.com/Cmdr_Hadfield',
   'instagram': 'https://www.instagram.com/colchrishadfield/',
   'wiki': 'https://en.wikipedia.org/wiki/Chris_Hadfield',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/canadian2520space2520agency_logo_20190417034740.jpg'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chris_hadfield_image_20220911034200.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chris_hadfield_thumbnail_20220911034200.jpeg',
   'flights_count': 3,
   'landings_count': 3,
   'last_flight': '2012-12-19T12:12:35Z',
   'first_flight': '1995-11-12T12:30:43Z'},
  {'id': 6,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/6/',
   'name': 'David Saint-Jacques',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 53,
   'date_of_birth': '1970-01-06',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'David Saint-Jacques is a Canadian astronaut with the Canadian Space Agency (CSA).\r\nHe was also an engineer, an astrophysicist, and a physician prior to joining the CSA.\r\nHe was selected to join the CSA in the 2009 CSA selection along with Jeremy Hansen.',
   'twitter': 'https://twitter.com/Astro_DavidS',
   'instagram': 'https://www.instagram.com/astrodavids/',
   'wiki': 'https://en.wikipedia.org/wiki/David_Saint-Jacques',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/canadian2520space2520agency_logo_20190417034740.jpg'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/david_saint-jac_image_20220911034207.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/david_saint-jac_thumbnail_20220911034208.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2018-12-03T11:31:52Z',
   'first_flight': '2018-12-03T11:31:52Z'},
  {'id': 7,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/7/',
   'name': 'Anne McClain',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 43,
   'date_of_birth': '1979-06-07',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Anne Charlotte McClain is a lieutenant colonel in the U.S. Army currently assigned to NASA Astronaut Group 21.',
   'twitter': 'https://twitter.com/AstroAnnimal',
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Anne_McClain',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/anne2520mcclain_image_20181127210625.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/anne_mcclain_thumbnail_20220911034153.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2018-12-03T11:31:52Z',
   'first_flight': '2018-12-03T11:31:52Z'},
  {'id': 8,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/8/',
   'name': 'Andrew R. Morgan',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 46,
   'date_of_birth': '1976-02-05',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Andrew Richard "Drew" Morgan is a NASA astronaut from the class of 2013.',
   'twitter': 'https://twitter.com/AstroDrewMorgan',
   'instagram': 'https://www.instagram.com/astrodrewmorgan/',
   'wiki': 'https://en.wikipedia.org/wiki/Andrew_R._Morgan',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/andrew_r._morga_image_20220911034204.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/andrew_r._morga_thumbnail_20220911034204.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2019-07-20T16:28:21Z',
   'first_flight': '2019-07-20T16:28:21Z'},
  {'id': 9,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/9/',
   'name': 'Nick Hague',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 47,
   'date_of_birth': '1975-09-24',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Tyler Nicklaus Hague is an American Flight Test Engineer and a NASA astronaut of the class of 2013.\r\nSelected to be a flight engineer of Expedition 57 / 58 to the International Space Station, he launched on board Soyuz MS-10, which aborted shortly after launch on October 11, 2018.',
   'twitter': 'https://twitter.com/AstroHague',
   'instagram': 'https://www.instagram.com/astrohague/',
   'wiki': 'https://en.wikipedia.org/wiki/Nick_Hague',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,

'http://ll.thespacedevs.com/2.2.0/astronaut'

'http://ll.thespacedevs.com/2.2.0/astronaut/?nationality=Spanish'

{'count': 723,
 'next': 'https://ll.thespacedevs.com/2.2.0/astronaut/?limit=10&nationality=Spanish&offset=10',
 'previous': None,
 'results': [{'id': 1,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/1/',
   'name': 'Thomas Pesquet',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 44,
   'date_of_birth': '1978-02-27',
   'date_of_death': None,
   'nationality': 'French',
   'bio': 'Thomas Gautier Pesquet is a French aerospace engineer, pilot, and European Space Agency astronaut. Pesquet was selected by ESA as a candidate in May 2009, and he successfully completed his basic training in November 2010. From November 2016 to June 2017, Pesquet was part of Expeditions 50 and 51 on the International Space Station as a flight engineer.',
   'twitter': 'https://twitter.com/Thom_astro',
   'instagram': 'https://instagram.com/thom_astro',
   'wiki': 'https://en.wikipedia.org/wiki/Thomas_Pesquet',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas2520pesquet_image_20200102120546.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/thomas_pesquet_thumbnail_20220911033657.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '2021-04-23T09:49:02Z',
   'first_flight': '2016-11-17T20:20:13Z'},
  {'id': 2,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/2/',
   'name': 'Claude Nicollier',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 78,
   'date_of_birth': '1944-09-02',
   'date_of_death': None,
   'nationality': 'Swiss',
   'bio': 'Claude Nicollier is the first astronaut from Switzerland. He has flown on four Space Shuttle missions. His first spaceflight (STS-46) was in 1992, and his final spaceflight (STS-103) was in 1999. He took part in two servicing missions to the Hubble Space Telescope (called STS-61 and STS-103). During his final spaceflight he participated in a spacewalk, becoming the first European Space Agency astronaut to do so during a Space Shuttle mission. In 2000 he was assigned to the Astronaut Office Extravehicular Activity Branch, while maintaining a position as Lead ESA Astronaut in Houston. Nicollier retired from ESA in April 2007.',
   'twitter': 'https://twitter.com/Astroclaude',
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Claude_Nicollier',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/claude2520nicollier_image_20181127203218.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/claude_nicollie_thumbnail_20220911033747.jpeg',
   'flights_count': 4,
   'landings_count': 4,
   'last_flight': '1999-12-20T00:50:00Z',
   'first_flight': '1992-07-31T13:56:48Z'},
  {'id': 3,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/3/',
   'name': 'Tim Peake',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 50,
   'date_of_birth': '1972-04-07',
   'date_of_death': None,
   'nationality': 'British',
   'bio': "Major Timothy Nigel Peake CMG is a British Army Air Corps officer, former European Space Agency astronaut and International Space Station (ISS) crew member.  He is the first British ESA astronaut, the second astronaut to bear a flag of the United Kingdom patch, the sixth person born in the United Kingdom to go on board the International Space Station and the seventh UK-born person in space. He began the ESA's intensive astronaut basic training course in September 2009 and graduated on 22 November 2010",
   'twitter': 'https://twitter.com/astro_timpeake',
   'instagram': 'https://www.instagram.com/astro_timpeake/',
   'wiki': 'https://en.wikipedia.org/wiki/Tim_Peake',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Director General: Josef Aschbacher',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/european2520space2520agency_logo_20221130101442.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/tim_peake_image_20230120154350.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/tim_peake_thumbnail_20230120154351.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2015-12-15T11:03:09Z',
   'first_flight': '2015-12-15T11:03:09Z'},
  {'id': 4,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/4/',
   'name': 'Buzz Aldrin',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 93,
   'date_of_birth': '1930-01-20',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Buzz Aldrin; born Edwin Eugene Aldrin Jr.; is an American engineer, former astronaut, and fighter pilot.\r\nAs Lunar Module Pilot on the Apollo 11 mission, he and mission commander Neil Armstrong were the first two humans to land on the Moon.',
   'twitter': 'https://twitter.com/TheRealBuzz',
   'instagram': 'https://www.instagram.com/drbuzzaldrin/',
   'wiki': 'https://en.wikipedia.org/wiki/Buzz_Aldrin',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/buzz_aldrin_image_20220911034547.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/buzz_aldrin_thumbnail_20220911034547.jpeg',
   'flights_count': 2,
   'landings_count': 2,
   'last_flight': '1969-07-16T13:32:00Z',
   'first_flight': '1966-11-11T20:46:33Z'},
  {'id': 5,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/5/',
   'name': 'Chris Hadfield',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 63,
   'date_of_birth': '1959-08-29',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'Chris Austin Hadfield is a Canadian retired astronaut, engineer, and former Royal Canadian Air Force fighter pilot.\r\nThe first Canadian to walk in space, Hadfield has flown two space shuttle missions and served as commander of the International Space Station.',
   'twitter': 'https://twitter.com/Cmdr_Hadfield',
   'instagram': 'https://www.instagram.com/colchrishadfield/',
   'wiki': 'https://en.wikipedia.org/wiki/Chris_Hadfield',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/canadian2520space2520agency_logo_20190417034740.jpg'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chris_hadfield_image_20220911034200.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/chris_hadfield_thumbnail_20220911034200.jpeg',
   'flights_count': 3,
   'landings_count': 3,
   'last_flight': '2012-12-19T12:12:35Z',
   'first_flight': '1995-11-12T12:30:43Z'},
  {'id': 6,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/6/',
   'name': 'David Saint-Jacques',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 53,
   'date_of_birth': '1970-01-06',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'David Saint-Jacques is a Canadian astronaut with the Canadian Space Agency (CSA).\r\nHe was also an engineer, an astrophysicist, and a physician prior to joining the CSA.\r\nHe was selected to join the CSA in the 2009 CSA selection along with Jeremy Hansen.',
   'twitter': 'https://twitter.com/Astro_DavidS',
   'instagram': 'https://www.instagram.com/astrodavids/',
   'wiki': 'https://en.wikipedia.org/wiki/David_Saint-Jacques',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None,
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/canadian2520space2520agency_logo_20190417034740.jpg'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/david_saint-jac_image_20220911034207.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/david_saint-jac_thumbnail_20220911034208.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2018-12-03T11:31:52Z',
   'first_flight': '2018-12-03T11:31:52Z'},
  {'id': 7,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/7/',
   'name': 'Anne McClain',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 43,
   'date_of_birth': '1979-06-07',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Anne Charlotte McClain is a lieutenant colonel in the U.S. Army currently assigned to NASA Astronaut Group 21.',
   'twitter': 'https://twitter.com/AstroAnnimal',
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Anne_McClain',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/anne2520mcclain_image_20181127210625.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/anne_mcclain_thumbnail_20220911034153.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2018-12-03T11:31:52Z',
   'first_flight': '2018-12-03T11:31:52Z'},
  {'id': 8,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/8/',
   'name': 'Andrew R. Morgan',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 46,
   'date_of_birth': '1976-02-05',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Andrew Richard "Drew" Morgan is a NASA astronaut from the class of 2013.',
   'twitter': 'https://twitter.com/AstroDrewMorgan',
   'instagram': 'https://www.instagram.com/astrodrewmorgan/',
   'wiki': 'https://en.wikipedia.org/wiki/Andrew_R._Morgan',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',
    'featured': True,
    'type': 'Government',
    'country_code': 'USA',
    'abbrev': 'NASA',
    'description': 'The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research. NASA have many launch facilities but most are inactive. The most commonly used pad will be LC-39B at Kennedy Space Center in Florida.',
    'administrator': 'Administrator: Bill Nelson',
    'founding_year': '1958',
    'launchers': 'Space Shuttle | SLS',
    'spacecraft': 'Orion',
    'parent': None,
    'image_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/agency_images/national2520aeronautics2520and2520space2520administration_image_20190207032448.jpeg',
    'logo_url': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/logo/national2520aeronautics2520and2520space2520administration_logo_20190207032448.png'},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/andrew_r._morga_image_20220911034204.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/andrew_r._morga_thumbnail_20220911034204.jpeg',
   'flights_count': 1,
   'landings_count': 1,
   'last_flight': '2019-07-20T16:28:21Z',
   'first_flight': '2019-07-20T16:28:21Z'},
  {'id': 9,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/9/',
   'name': 'Nick Hague',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'age': 47,
   'date_of_birth': '1975-09-24',
   'date_of_death': None,
   'nationality': 'American',
   'bio': 'Tyler Nicklaus Hague is an American Flight Test Engineer and a NASA astronaut of the class of 2013.\r\nSelected to be a flight engineer of Expedition 57 / 58 to the International Space Station, he launched on board Soyuz MS-10, which aborted shortly after launch on October 11, 2018.',
   'twitter': 'https://twitter.com/AstroHague',
   'instagram': 'https://www.instagram.com/astrohague/',
   'wiki': 'https://en.wikipedia.org/wiki/Nick_Hague',
   'agency': {'id': 44,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/44/',
    'name': 'National Aeronautics and Space Administration',

## Accediendo a datos de themoviedb

In [110]:
# https://developers.themoviedb.org/3/getting-started/introduction

In [111]:
# https://www.themoviedb.org/documentation/api

year: 2022

        id        date                          title
0  1088751  2022-01-01                         Traços
1  1087677  2022-01-01                       Solitary
2  1087423  2022-01-01  Leos Janácek - Kát'a Kabanová
3  1086344  2022-01-01                      Mnemosyne
4  1085972  2022-01-01               You Have No Idea

{'page': 500,
 'results': [{'adult': False,
   'backdrop_path': None,
   'genre_ids': [35],
   'id': 948301,
   'original_language': 'th',
   'original_title': 'บั้งไฟสไลเดอร์',
   'overview': 'A group of friend determined to express themselves decide to build thier own gunpowder rocket to compete at an annual festival held in their village.',
   'popularity': 0.96,
   'poster_path': '/iFTzTiHSAYvJqWh8521BWuYL0f0.jpg',
   'release_date': '2022-05-12',
   'title': 'The Rocket Angels',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': '/dYWKKbNUOoRlP5HunVDGo37u3Bb.jpg',
   'genre_ids': [],
   'id': 948051,
   'original_language': 'en',
   'original_title': 'The Harbingers of Things to Come',
   'overview': 'Is it possible that what has happened to the United States and the world, from COVID-19 to 9/11, are part of an ancient mystery? Is it a warning? Does the mystery tell us what is yet to come? Do we have the key to uncover it?  New York Times best-selling author Jonathan Cahn takes audiences on an epic journey from an island off of Massachusetts Bay to the Supreme Court, from Ground Zero, through the New York Harbor, to the Statue of Liberty to uncover this stunning mystery.',
   'popularity': 0.998,
   'poster_path': '/c8ME2M224Pgb3lU4VNq8OrYpbyq.jpg',
   'release_date': '2022-05-12',
   'title': 'The Harbingers of Things to Come',
   'video': False,
   'vote_average': 1,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28, 35, 18],
   'id': 946580,
   'original_language': 'as',
   'original_title': 'লোকেল উৎপাত',
   'overview': 'Local Utpaat is an Assamese action comedy starring and directed by Kenny Basumatary.',
   'popularity': 1.176,
   'poster_path': '/fzkqYtxyQ9D2tZvvalsRRSr3QFb.jpg',
   'release_date': '2022-05-12',
   'title': 'Local Utpaat',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': '/fgDPKsZetkRu9XeYdAfiBpTAPi0.jpg',
   'genre_ids': [18, 53, 35],
   'id': 944399,
   'original_language': 'es',
   'original_title': 'El sistema K.E.OP/S',
   'overview': 'Belgrano neighborhood, Buenos Aires, Argentina. Someone is watching Fernando Berlasky from one of the countless windows in front of his apartment and sending him e-mails.',
   'popularity': 6.38,
   'poster_path': '/7VsBqTnU6PEF01pKhWzaRhP21R1.jpg',
   'release_date': '2022-05-12',
   'title': 'The K.E.O.P/S System',
   'video': False,
   'vote_average': 5.9,
   'vote_count': 13},
  {'adult': False,
   'backdrop_path': '/DcS4uFZCwqy1aXlt2Q0I4qscpI.jpg',
   'genre_ids': [99],
   'id': 916429,
   'original_language': 'en',
   'original_title': 'Myanmar Diaries',
   'overview': 'How does it feel to be forgotten by the world? A powerful collective cry denouncing the crimes of the military dictatorship installed in Myanmar after the coup perpetrated on February 1, 2021: cinema and imagination against horror and in defense of freedom.',
   'popularity': 1.115,
   'poster_path': '/mMhzKhN0yO3htkpliFS904XzpCl.jpg',
   'release_date': '2022-05-12',
   'title': 'Myanmar Diaries',
   'video': False,
   'vote_average': 8,
   'vote_count': 2},
  {'adult': False,
   'backdrop_path': '/mpL3JbvJ3VXapXy3vcvqqrEqgOq.jpg',
   'genre_ids': [10751, 99],
   'id': 915631,
   'original_language': 'de',
   'original_title': 'Willi und die Wunderkröte',
   'overview': '',
   'popularity': 0.985,
   'poster_path': '/bDdS94jI12FydURFuu8KzjyLmG6.jpg',
   'release_date': '2022-05-12',
   'title': 'Willi und die Wunderkröte',
   'video': False,
   'vote_average': 5,
   'vote_count': 2},
  {'adult': False,
   'backdrop_path': '/7jvFJEsWyLxvnKawNy9GXImhu4s.jpg',
   'genre_ids': [35, 10749],
   'id': 895033,
   'original_language': 'ta',
   'original_title': 'டான்',
   'overview': 'A youngster who is still figuring out what his passion is gets into an engineering college where he clashes with a disciplinarian faculty.',
   'popularity': 2.648,
   'poster_path': '/30TKQqrYQV3ri4PdSvEeqSbbnIC.jpg',
   'release_date': '2022-05-12',
   'title': 'Don',
   'video': False,
   'vote_average': 6.8,
   'vote_count': 15},
  {'adult': False,
   'backdrop_path': '/mQBpBB7AAQ5bnq04nsN275vV2B2.jpg',
   'genre_ids': [10402],
   'id': 857253,
   'original_language': 'cs',
   'original_title': 'Pražský výběr – Symphony Bizarre',
   'overview': '',
   'popularity': 0.667,
   'poster_path': '/bvQTJSVRvCj2ZJvwWu2xTP3nEx3.jpg',
   'release_date': '2022-05-12',
   'title': 'Pražský výběr – Symphony Bizarre',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [28, 53, 80, 18],
   'id': 848730,
   'original_language': 'es',
   'original_title': 'Los bastardos',
   'overview': '',
   'popularity': 1.4,
   'poster_path': '/yshUbCP6Y5kEAAcW3AHK7uru24i.jpg',
   'release_date': '2022-05-12',
   'title': 'Los bastardos',
   'video': False,
   'vote_average': 2,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [18],
   'id': 842229,
   'original_language': 'en',
   'original_title': 'Little Tornadoes',
   'overview': 'This affecting period drama depicts a newly-single father’s efforts to weather the turbulence of change – in his life and in the world around him.',
   'popularity': 1.611,
   'poster_path': '/amF9VBD7tTsxuIn55TeOjhO5efz.jpg',
   'release_date': '2022-05-12',
   'title': 'Little Tornadoes',
   'video': False,
   'vote_average': 2,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': '/q9X8RebESD6elDUOkEdpsG6RzoW.jpg',
   'genre_ids': [53],
   'id': 834734,
   'original_language': 'es',
   'original_title': 'Sicosexual',
   'overview': "After finding her boyfriend cheating on her, a woman becomes obsessed with a YouTuber to the point that she thinks he's the perfect man for her.",
   'popularity': 85.252,
   'poster_path': '/g5cEKhHn2NSH18FxASF8UT0LfsC.jpg',
   'release_date': '2022-05-12',
   'title': 'Psychosexual',
   'video': False,
   'vote_average': 2,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [99],
   'id': 827830,
   'original_language': 'de',
   'original_title': 'Ein Clown - ein Leben',
   'overview': 'Documentary about Bernhard Paul who became world famous as the founder of Circus Roncalli and Zippo the Clown...',
   'popularity': 1.294,
   'poster_path': '/hfaeaIbgsUqVqEETU9AFHTCYKDM.jpg',
   'release_date': '2022-05-12',
   'title': 'A CLOWN | A LIFE',
   'video': False,
   'vote_average': 9,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': '/f24jezpDm61KKtASS2DuFaDEREw.jpg',
   'genre_ids': [35, 10751],
   'id': 820007,
   'original_language': 'ru',
   'original_title': 'Маруся фореva!',
   'overview': 'The life of a twenty-four-year-old Indian collapses overnight when he finds out that he is the father of a five-year-old girl Marusya. The Indian is not ready to part with a successful career, bachelor meetings with friends and take care of a small child, but over time, the sincere love of his daughter changes the Indian. Almost deprived of the right to raise his daughter, he finds a way to leave Marusya and become a real family.',
   'popularity': 0.928,
   'poster_path': '/mlOupIl9qd3pAuGZqNmn7gJjnbC.jpg',
   'release_date': '2022-05-12',
   'title': 'Marusya Foreva!',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [878, 27, 12],
   'id': 783335,
   'original_language': 'en',
   'original_title': 'Something, Somewhere',
   'overview': 'After a college jock sees two mysterious orbs of light in the sky, he meets up with an estranged friend to confirm if what he saw was extra-terrestrial.',
   'popularity': 2.528,
   'poster_path': '/dqnJlgyezbUDzOczYQDFrArjUMu.jpg',
   'release_date': '2022-05-12',
   'title': 'Something, Somewhere',
   'video': False,
   'vote_average': 2,
   'vote_count': 1},
  {'adult': False,
   'backdrop_path': '/3m4gFGLGzb7iGSubofQMM6M6EIH.jpg',
   'genre_ids': [18],
   'id': 777947,
   'original_language': 'de',
   'original_title': 'Nico',
   'overview': "Nico (33), German-Persian, emancipated and happy, is the most popular geriatric nurse for her patients. With her best friend Rosa (37), she enjoys the summer in Berlin. A xenophobic attack tears the self-confident NICO from its self-determined everyday life. Waking up in the hospital, she realizes that she doesn't seem to be a part of it after all.",
   'popularity': 0.84,
   'poster_path': '/uk2za4YqELg5ie3DmSq9F2HxPRK.jpg',
   'release_date': '2022-05-12',
   'title': 'Nico',
   'video': False,
   'vote_average': 4,
   'vote_count': 2},
  {'adult': False,
   'backdrop_path': '/4Kzve6tQSFaf74Fpn3QxuH8mRq1.jpg',
   'genre_ids': [35, 878],
   'id': 741093,
   'original_language': 'ru',
   'original_title': 'Ботан и супербаба',
   'overview': 'A shy guy, due to problems in communicating with girls, invents an android robot and goes with him to a reunion.',
   'popularity': 3.474,
   'poster_path': '/h5SZbivWPZCZgHucy4RvJpcyLLy.jpg',
   'release_date': '2022-05-12',
   'title': 'The Nerd and the Supergirl',
   'video': False,
   'vote_average': 7,
   'vote_count': 9},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'id': 704765,
   'original_language': 'en',
   'original_title': 'Regress',
   'overview': "Two siblings try to uncover the reason behind their grandmother's strange behavior after finding an envelope of money left by their parents.",
   'popularity': 0.6,
   'poster_path': '/qFVdvESW2EfqSId8HmUVB2zrsf8.jpg',
   'release_date': '2022-05-12',
   'title': 'Regress',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [18],
   'id': 704734,
   'original_language': 'en',
   'original_title': 'Before',
   'overview': 'A guy meets with his ex to find out what her true intentions are about the suggestive texts she sent the night before.',
   'popularity': 0.6,
   'poster_path': '/erOXrhM378tNoBtgh9OrDOfDZJr.jpg',
   'release_date': '2022-05-12',
   'title': 'Before',
   'video': False,
   'vote_average': 0,
   'vote_count': 0},
  {'adult': False,
   'backdrop_path': '/o8wm7eSTOCIwh4VkHiLYIWDPkkU.jpg',
   'genre_ids': [35],
   'id': 638960,
   'original_language': 'es',
   'original_title': 'La Nave',
   'overview': "A radio host has to deal with his son's cancer with the help of a trainer.",
   'popularity': 4.236,
   'poster_path': '/7AnUnJ9ozESodZau3g0i35qvn2M.jpg',
   'release_date': '2022-05-12',
   'title': 'The Ship',
   'video': False,
   'vote_average': 6.2,
   'vote_count': 5},
  {'adult': False,
   'backdrop_path': '/7BiJ0mndmNRcq9OWPn6qfJO7ZYE.jpg',
   'genre_ids': [18, 36, 14],
   'id': 633811,
   'original_language': 'de',
   'original_title': 'Blutsauger',
   'overview': "1928: Lyovuschka, a Soviet worker, is cast in the role of Trotsky for Eisenstein‘s latest film, but quickly finds his dreams of an actor‘s life shattered when Trotsky falls into Stalin‘s disfavor. Exiled from his homeland, he poses as a wealthy baron and finds himself stuck in a glamorous seaside resort in Germany awaiting a barge that will take him to Hollywood. A summer romance kicks off when he meets the eccentric factory owner Octavia Flambow-Jansen - it's just too bad there are vampires around.",
   'popularity': 1.289,
   'poster_path': '/sOKtPIOOYzyNuNhzFt7gC2zQFHQ.jpg',
   'release_date': '2022-05-12',
   'title': 'Bloodsuckers',
   'video': False,
   'vote_average': 2,
   'vote_count': 1}],
 'total_pages': 1506,
 'total_results': 30107}

,id,adult,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,...,video,title,belongs_to_collection,overview,homepage,imdb_id,poster_path,crew,cast,keywords
0,1088751,False,0,"[{'id': 99, 'name': 'Documentary'}]",pt,Traços,0.0,[],"[{'iso_3166_1': 'BR', 'name': 'Brazil'}]",2022-01-01,...,False,Traços,None,,,None,None,"[{'adult': False, 'gender': 0, 'id': 3929026, ...","[{'adult': False, 'gender': 0, 'id': 3929016, ...",[]
1,1087423,False,0,"[{'id': 10402, 'name': 'Music'}, {'id': 18, 'n...",de,Leos Janácek - Kát'a Kabanová,0.6,"[{'id': 487, 'logo_path': '/x3BUIowxU2skXOpnOe...","[{'iso_3166_1': 'AT', 'name': 'Austria'}]",2022-01-01,...,False,Leos Janácek - Kát'a Kabanová,None,,,None,None,"[{'adult': False, 'gender': 2, 'id': 592629, '...","[{'adult': False, 'gender': 2, 'id': 2070492, ...","[{'id': 2199, 'name': 'opera'}, {'id': 5783, '..."
2,1086344,False,0,[],el,Mnemosyne,0.6,"[{'id': 125540, 'logo_path': None, 'name': 'Th...","[{'iso_3166_1': 'GR', 'name': 'Greece'}, {'iso...",2022-01-01,...,False,Mnemosyne,None,A short film by Mário Fernardes.,,None,/9Uk8qsFwf23ktAysZNbMYa0vmJP.jpg,"[{'adult': False, 'gender': 0, 'id': 1165419, ...","[{'adult': False, 'gender': 0, 'id': 3919396, ...",[]
3,1085972,False,0,"[{'id': 99, 'name': 'Documentary'}]",en,You Have No Idea,0.6,[],[],2022-01-01,...,False,You Have No Idea,None,One family's journey with autism through the l...,,tt23039854,/WtatMcdDSWkO2DsDJtifm3WT8w.jpg,"[{'adult': False, 'gender': 0, 'id': 1979309, ...","[{'adult': False, 'gender': 0, 'id': 3918356, ...",[]
4,1085504,False,0,"[{'id': 99, 'name': 'Documentary'}]",fr,"Johnny, passion d'un enfant gâté",0.6,"[{'id': 138896, 'logo_path': None, 'name': 'Me...","[{'iso_3166_1': 'FR', 'name': 'France'}]",2022-01-01,...,False,"Johnny, passion d'un enfant gâté",None,,,None,/9ZGwBYabgtKMqoq3mv5KGyNWD2a.jpg,"[{'adult': False, 'gender': 0, 'id': 3916742, ...","[{'adult': False, 'gender': 2, 'id': 35084, 'k...",[]

## Accediendo a datos de Youtube

In [119]:
# Importamos librerías
from googleapiclient.discovery import build

### Información de una Canal de youtube (Primera request)

In [121]:
#   https://cloud.google.com/console
#   https://github.com/googleapis/google-api-python-client
# Ensure that you have enabled the YouTube Data API for your project.

{'kind': 'youtube#channelListResponse',
 'etag': 'eTmI5TQvnuk6qwrh83qQjWTyOpU',
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 5},
 'items': [{'kind': 'youtube#channel',
   'etag': 'DWWNQ00tq6Zj5z3KMue1ql89UL8',
   'id': 'UCy5znSnfMsDwaLlROnZ7Qbg',
   'statistics': {'viewCount': '34620611',
    'subscriberCount': '716000',
    'hiddenSubscriberCount': False,
    'videoCount': '162'}}]}

### Información videos de acuerdo a una búsqueda (query)

,id_video,Channel,title,description,publish_time,duration,definiton,closed_caption,license_content,madeforkids,license,view_count,like_count,favorite_count,comment_count
0,JTxsNm9IdYU,Adrian Twarog,ChatGPT Tutorial - A Crash Course on Chat GPT ...,This ChatGPT Tutorial is a Crash Course on Cha...,2022-12-12T10:52:13Z,PT34M5S,hd,false,True,False,youtube,3698110,62280,0,3446
1,kh5dN72GTQ8,PowerfulJRE,What ChatGPT Could Mean for the Future of Arti...,Taken from JRE #1919 w/Bret Weinstein: https:/...,2023-01-04T18:48:58Z,PT14M15S,hd,false,True,False,youtube,3590309,64209,0,12245
2,0uQqMxXoNVs,ColdFusion,It’s Time to Pay Attention to A.I. (ChatGPT an...,Imagine being able to have a language conversa...,2022-12-16T04:25:56Z,PT26M27S,hd,false,True,False,youtube,2992837,97577,0,10971
3,BI0Hy0poRdM,Dhruv Rathee Shorts,Will ChatGPT DESTROY Google?,Link to Main Channel: https://www.youtube.com/...,2023-02-01T13:27:14Z,PT1M,hd,false,True,False,youtube,2446578,192123,0,955
4,sTeoEFzVNSc,Programming with Mosh,ChatGPT Tutorial for Developers - 38 Ways to 1...,Learn how to use ChatGPT to 10x your productiv...,2023-01-13T17:00:09Z,PT28M13S,hd,false,True,False,youtube,2336455,39542,0,1956

In [124]:
df_youtube.to_csv("data/df_youtube_chagpt.csv")